.gpt3__features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gpt3__features-heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    flex-basis: 30%;
}

.gpt3__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.gpt3__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: 2rem;
}

.gpt3__features-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 65%;
}
.gpt3__features-container .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gpt3__features-container .feature .head {
    flex-basis: 25%;
}
.gpt3__features-container .feature .head h2{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
    margin-top: 10px;
}
.gpt3__features-container .feature .text {
    flex-basis: 69%;
}
.gpt3__features-container .feature .text p{
    font-size: 14px;
    line-height: 24px;
}
@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}
